@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap");
*{
  box-sizing:border-box;
  margiin:0;
  padding:0;
}
body{
  font-family:"lexend", san-serif;
  background:#362a2b;
  color:e5ebf3;
}
.slider{
  position:relative;
  height:100vh;
  width:100vw;
  overflow:hidden;
}
.slide{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  opacity:0;
  transition:opacity 0.4s ease-in-out;
 }
.slide.current{
  opacity:1;
}
.slide.content{
  position:absolute;
  bottom:-300px;
  left:0;
  width:100%
  opacity:0;
  background-color:rgba(229, 235, 243, 0.8);
  color:#495b73;
  padding:1rem;
  line-height:1.3;
 }
slide .content h1 {
  margin-bottom: 0.625rem;
  color: #362a2b;
  font-size: 1.5rem;
}

.slide.current .content {
  opacity: 1;
  transform: translateY(-300px);
  transition: all 0.7s ease-in-out;
}

.slide:first-child {
  background: url("https://i.postimg.cc/xdHKW5gG/pexels-cottonbro-9541044.jpg") no-repeat
    center top/cover;
}

.slide:nth-child(2) {
  background: url("https://i.postimg.cc/kGmG23rG/pexels-koolshooters-6976102.jpg") no-repeat
    center top/cover;
}

.slide:nth-child(3) {
  background: url("https://i.postimg.cc/rs8y8yTy/pexels-omar-l-pez-1182825.jpg") no-repeat
    center top/cover;
}

.slide:nth-child(4) {
  background: url("https://i.postimg.cc/C1ZrzXG3/pexels-cottonbro-9955207.jpg") no-repeat
    center top/cover;
}

.slide:nth-child(5) {
  background: url("https://i.postimg.cc/RhRYB4CB/pexels-moose-photos-1036622.jpg") no-repeat
    center top/cover;
}

.slide:nth-child(6) {
  background: url("https://i.postimg.cc/J4z6Xw4s/pexels-pixabay-247287.jpg") no-repeat
    center center/cover;
}

.buttons button#prev {
  position: absolute;
  top: 50%;
  left: 1rem;
}

.buttons button#next {
  position: absolute;
  top: 50%;
  right: 1rem;
}

.buttons button {
  border: 2px solid #e5ebf3;
  background-color: transparent;
  color: #e5ebf3;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #e5ebf3;
  color: #362a2b;
}

@media (min-width: 640px) and (min-height: 640px) {
  .slide .content {
    bottom: 70px;
    left: -600px;
    width: 600px;
    padding: 2rem;
    line-height: 1.6;
  }

  .slide .content h1 {
    font-size: 2rem;
  }

  .slide.current .content {
    transform: translateX(600px);
  }
}
